* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.stage {
  position: relative;
  width: 400px;
  height: 250px;
  margin: 40px;
}

.rect {
  width: 180px;
  height: 120px;
}

.rect-center {
  position: relative;
  top: 60px;
  left: 110px;
  z-index: 2;
  background-color: green;
}

.rect-left {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1;
  background-color: red;
}

.rect-right {
  position: absolute;
  top: 90px;
  left: 200px;
  z-index: 3;
  background-color: blue;
}
